# LangChain main library
langchain==0.3.17

# LangChain integration with Ollama. Ollama is a self-hosted LLM server
langchain-ollama==0.2.2

# LangChain integration with Milvus. Milvus is a self-hosted vector database
langchain-milvus==0.1.7

# LangChain community integrations. Batteries for LangChain
langchain_community==0.3.14

# LangChain integration with Neo4j
langchain-neo4j==0.3.0

# LangChain memory for chats
langgraph==0.2.69

# PDF loader
pypdf==5.1.0

# Website loader
beautifulsoup4==4.13.1

# Used by message trimmer
transformers==4.48.2

# Used as a search tool
duckduckgo-search==7.3.0

# Used in summarization
tiktoken==0.8.0

# Linter
ruff==0.8.5
wemake-python-styleguide==1.0.0
flake8-pyproject==1.2.3

# Tests
pytest==8.3.4
pytest-asyncio==0.25.3
